.about {
    border: 5px;
    border-color: lightblue;
    border-style: solid;
}

.meet-instructors {
    display: flex;
    flex-direction: column;
    border: 5px;
    border-color: red;
    border-style: solid;
}

.about-lingyun {
    display: flex;
    border: 5px;
    border-color: green;
    border-style: solid;
}

.lingyun-bio {
    border: 5px;
    border-color: purple;
    border-style: solid;
}

.lingyun-paragraph {
    border: 5px;
    border-color: pink;
    border-style: solid;
    align-items: center;
    position: relative;
}